<% if !@albums.nil? %>
  <% @albums.each do |album| %>
    <p><a href="/albums/<%= album.user_id %>/<%= album.id %>"><%= album.title %></a> | Number of Photos: <%= album.photos.count %></p>
  <% end %>

<% else %>
  <p>No albums available</p>
<% end %>

