<div class="container">

  <% if @photo != 0 %>
      <div class="photo">
        <p><%= @photo.title %></p>
        <p><img src="<%= @photo.file.url%>"></p>
      </div>
  <% else %>
    <p>No photos uploaded yet :(</p>
  <% end %>
</div>
