<div class="container">
  <h1>Flickr Jr. DBC Style</h1>

  <% if @photos != 0 %>
      <% @photos.each do |photo| %>
      <p>Image Title:<%= photo.title %><img src="<%= photo.file.url%>"></p>
      <% end %>
  <% else %>
    <p>No photos uploaded yet</p>
  <% end %>
</div>
