<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <% if logged_in? %>
    <ul class="menu">
      <li><a href="/">FlickrJr</a></li>
      <li>Welcome, <a href="/user/<%= current_user.id %>"><%= current_user.name %></a></li>
      <li><a href="/album">Create Album</a></li>
      <li><a href="/albums/<%= current_user.id %>">View Your Albums</a></li>
       <li><a href="/albums">View All Albums</a></li>
      <li><a href="/upload">Upload Photo</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>

    <% else %>
    <ul>
      <li><a href="/albums">Albums</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
    <% end %>
  </nav>
  <div class="container">
    <h1>FlickrJR</h1>
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
