<form action='/login' method='POST' name="login">
  <p><label for="name"><h2 class="form">Username</h2></label>
  <input type="text" name="user[name]" id="name" autofocus placeholder="username"></p>

   <p><label for="password"><h2 class="form">Password</h2></label>
  <input type="password" name="user[password]" placeholder="*********"></p>

  <p><input type="submit" value="Login"></p>
</form>
