<h2>Title: <%= @album.title %></h2>
<% if !@photos.nil? %>
  <% @photos.each do |photo| %>
    <p>Display photos</p>
  <% end %>

<% else %>
  <p>No photos in this album.</p>
<% end %>

<% if logged_in? && @album.user_id == current_user.id %>
  <p><a href="/upload/<%= @album.id %>">Upload New Photo</a></p>
<% end %>
