<form action='/signup' method='POST' name="signup">
  <p><label for="name"><h2 class="form">Username</h2></label>
  <input type="text" name="user[name]" id="name" autofocus placeholder="username"></p>

  <p><label for="email"><h2 class="form">Email</h2></label>
  <input type="text" name="user[email]" id="email" placeholder="me@me.com"></p>

  <p><label for="password"><h2 class="form">Password</h2></label>
  <input type="password" name="user[password]" id="password" placeholder="password"></p>

  <p><input type="submit" value="Sign me up!"></p>
</form>
