<form action="/upload" method="post" enctype="multipart/form-data">
  <label for="title">Image Title</label>
  <input type="text" name="photo[title]"><br><br>

  <input type="file" name="photo[file]"><br><br>
  <input type="hidden" value="<%= params[:album_id] %>" name="photo[album_id]">

  <input type="submit" name="submit">
</form>
